APP_NAME=z9pay
APP_ENV=production
APP_KEY=base64:qCc+o1AEMYD5yez6wKkKCEYeDmtZO2c7QsK0MCCUxlw=
APP_DEBUG=false
APP_URL=https://www.z9pay.cc

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=pc-3ns5ckz7f81708793.rwlb.rds.aliyuncs.com
DB_PORT=3306
DB_DATABASE=luckypay
DB_USERNAME=luckypay
DB_PASSWORD="luckypay123!@#"

CENTUS_DB_HOST=amv-3ns5e8vv7wyamh7f900000303.ads.aliyuncs.com
CENTUS_DB_USERNAME=rootpayment
CENTUS_DB_PASSWORD="rootpayment123!@#"

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=r-3ns9fqdg7hvkluforb.redis.rds.aliyuncs.com
REDIS_PASSWORD="God123!@#"
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1850343
PUSHER_APP_KEY=963d39722f60853bf48f
PUSHER_APP_SECRET=b522e4f98c4ddcd4fc49
PUSHER_HOST=127.0.0.1
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=ap1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


ADMIN_ROUTE_DOMAIN=admin.z9pay.cc
MERCHANT_ADMIN_ROUTE_DOMAIN=merchant.z9pay.cc
AGENT_ROUTE_DOMAIN=agent.z9pay.cc
API_ROUTE_DOMAIN=api.z9pay.cc
CASHIER_ROUTE_DOMAIN=api.z9pay.cc
API_EXTRA_DOMAINS=null
ADMIN_HTTPS=true


ADMIN_NAME=Z9PAY
ADMIN_LOGO=Z9PAY
ADMIN_ROUTE_PREFIX=z9-admin
MERCHANT_ADMIN_ROUTE_PREFIX=z9-admin
AGENT_ADMIN_ROUTE_PREFIX=z9-admin

SANCTUM_STATEFUL_DOMAINS=app.z9pay.cc,api.z9pay.cc,127.0.0.1:8080

REDIS_QUEUE=z9pay

QUEUE_MAX_PROCESSES_CALLBACK=3
QUEUE_MAX_PROCESSES_SLOW=2
QUEUE_MAX_PROCESSES_TRANSFER=1


TRON_RPC_APP_ID=luckpay
TRON_RPC_SECRET=e975c61fc779934fbf4489f2a8688d37e2b4c837610b8dcfa6818db7f915dd07
TRON_RPC_ENDPOINTS=172.26.179.233:9600
